body {
  font-family: var(--font-serif);
  font-size: var(--font-size);
  line-height: 1.6;
  color: var(--color-body);
  letter-spacing: 0.2px;
  font-variant-ligatures: common-ligatures;
}



/* article */
article {
  line-height: 1.6;

  .meta {
    margin: 0;
    width: 100%;
    max-width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: var(--font-sans-serif);
  }

  .date {
    font-weight: 500;
  }





  /* common text */

  p,
  li {
    margin-bottom: 0em;
    margin-top: 0.5em;
    hyphens: auto;
  }

  p {
    max-width: 60ch;
  }

  strong {
    /* font-family: var(--font-sans); */
    /* font-size: 0.85em; */
    text-decoration: underline;
    font-weight: 500;
    line-height: 0;
  }

  li {
    max-width: calc(60ch - 10ch);
    margin-left: 5ch;
  }

  a {
    text-decoration: none;
    border: 0;
    line-height: 1;
    color: var(--color-body);
    background: linear-gradient(transparent 0, transparent 78%, var(--color-link) 78%, var(--color-link) 82%, transparent 82%, transparent 100%);
    font-style: italic;
    transition: background-color .5s;

    &:hover {
      --color-link: var(--color-accent);
      color: var(--color-accent);
    }
  }

  blockquote {
    /* padding-left: 1em; */
    /* margin-left: 0; */
    font-size: 0.9em;
    width: auto;
    padding: .5em 1.5em 1.5em;
    margin: 1em 4ch 1em 4ch;
    font-family: var(--font-sans);
    /* border-left: 0.5ch solid lightgrey; */
    position: relative;
    max-width: 70%;
    background: #fafaf5;
    box-shadow: 0 0 0 .8em inset white;
    &::before {
      content: "「";
      position: absolute;
      font-size: 1em;
      color: var(--color-darkest-grey);
      top: 0;
      left: -.5ch;
      
    }

    &::after {
      content: "」";
      position: absolute;
      font-size: 1em;
      color: var(--color-darkest-grey);
      bottom: 0;
      right: -.5ch;
      
    }
  }
  /* list */

  ol {
    padding: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;

    & li::before {
      content: " - ";
      display: block;
      position: absolute;
      margin-left: -3ch;
    }
  }



  /*headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-weight: 400;
    font-family: var(--font-serif);
    line-height: 1.2;
    margin-top: 1.8em;
    margin-bottom: 0.5em;
    break-after: avoid;

    /* font-variant: all0s */
    &:first-child {
      margin-top: 1em;
    }
  }

  h1 {
    text-align: left;
    max-width: 100%;
    font-size: 2.20em;
    line-height: 1.1;
    text-transform: none;
    margin-bottom: .8em;
    /* margin-top: 0; */
    border-bottom: 2px solid grey;
  }

  h2 {
    font-size: 1.66em;
    /* padding-top: 2em; */
    border-bottom: 2px solid var(--color-lightest-grey);
    /* /* padding-top: /px; margin-top: -/px; */
    margin-top: 0;
    padding-top: 3em;
  }

  h3 {
    font-size: 1.375em;
    padding-top: 3em;
    margin-top: 0;
  }

  h4 {
    font-size: 1.25em;
    font-family: var(--font-serif);
    font-style: normal;
    font-variant: all-small-caps;
  }

  h5 {
    font-size: 1.125em;
    font-family: var(--font-serif);
    font-style: italic;
  }

  h6 {
    font-size: 1em;
    text-align: center;
  }

  /* code */


  .highlight {
    margin: 2em 0 3em 0;

    + .highlight {
      margin-top: -2em;
    }
  }

  pre {
    padding: 0em 0.5em;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.35;
    padding: 0.2em 0.5em;
    border: 1px solid lightgrey;
    white-space: pre-wrap;
    margin: 0;
    /* background: hsl(0, 2%, 90%); */
    /* overflow: auto; */
    & + pre {
    }
  }

  code {
    font-size: .70em;
    font-family: var(--font-mono);
    line-height: 1.2em;
    background: #eed;
    margin: 0 0.3ch;
    line-height: 1;
  }

  pre code {
    padding: 0;
    background: transparent;
  }

  article h2 :not(pre) code {
    font-weight: 600;
    font-size: .8em;
  }

  /* table */

  .table {
    
    flex-direction: column;
    width: 80%;
    margin: 2em auto;
    figcaption {
      display: block;
      font-variant: all-small-caps;
      font-family: var(--font-sans);
      text-align: center;
      /* border-bottom: 2px solid var(color); */
      span {
        font-size: 0.8em;
        font-weight: 800;
        margin-right: 4ch;
        display: none;
      }
    }

  }

  table {
    &.specs {
      a {
        font-style: normal;
      }
    }
    [colspan="4"] {
     padding-top: 3em; 
    }
    /* border: 1px solid var(--color-grey); */
    border-collapse: collapse;
    font-family: var(--font-sans);
    font-size: 0.75em;
    width: 100%;
    tr {
      &:nth-of-type(even) {
        background: #f8f8f8;
      }
      th {
        padding: 0.3em 1em 0.2em;
        border-bottom: 5px solid var(--color-grey);
      }
      td {
        padding: 0.5em 1em 0.2em;
      }
    }
  }

  /* figure */
  figure {
    margin: 2em 0em;
    display: flex;
    /* picture */
    img {
      max-width: 100%;
      max-height: 30em;
      margin: 0 auto;
    }
  }

  img {
    display: block;
    max-width: 100%;
    max-height: 30em;
    margin: 0 auto;
  }

  /* definition terms */
  .dt {
    display: inline;
    border-bottom: 1px solid grey;
    cursor: help;
    position: relative;

    &:hover .dd {
      display: block;
    }
  }

  .dd {
    position: absolute;
    background: var(--color-primary);
    color: var(--color-paper);
    font-family: var(--font-sans-serif);
    top: 2em;
    left: 0px;
    width: 15em;
    padding: 0.5em 1em;
    display: none;
  }
}



/* headings */

.intro {
  font-family: var(--font-sans);
  font-size: .9em;
  line-height: 1.5;
  max-width: 50ch;
  margin-top: 0;
  color: var(--color-body);
  padding-left: 1em;
  border-left: 2px solid currentcolor;
  max-width: 51ch;
  display: block;
  /* margin-bottom: 3em; */
  /* margin-top: 2em; */
  grid-column: main/end;
  /* text-shadow: 1px 1px var(--color-paper), -1px 1px var(--color-paper), -1px -1px var(--color-paper), 1px -1px var(--color-paper), 2px 2px var(--color-paper), -2px 2px var(--color-paper), -2px -2px var(--color-paper), 2px -2px var(--color-paper), 3px 3px var(--color-paper), -3px 3px var(--color-paper), -3px -3px var(--color-paper), 3px -3px var(--color-paper), 4px 4px var(--color-paper), -4px 4px var(--color-paper), -4px -4px var(--color-paper), 4px -4px var(--color-paper); */
  /* filter: drop-shadow(-2px 0px 0px var(--color-paper)) drop-shadow(0px 2px 0px var(--color-paper)) drop-shadow(-2px -2px 0px var(--color-paper)) drop-shadow(2px 2px 0px var(--color-paper)) ; */
  & + p {
    margin-top: 4em;
  }
}

header {
  --color-primary: var(color-body);
  display: flex;
  flex-direction: column;
  position: relative;
  /* z-index: 2; */
  grid-column: left/end;
  font-size: 0.8em;
  margin-bottom: 2em;
  margin-top: 6em;
  /* font-weight: 700; */
  &::before {
    content: var(--symbol-content);
    /* transform: rotate(45deg); */
    /* border: 4px solid #eee; */
    z-index: -1;
    /* width: 10em; */
    /* height: 10em; */
    font-size: 20em;
    top: -0.5em;
    left: -0.3em;
    color: var(--color-lightest-grey);
    display: block;
    position: absolute;
  }

  #title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-style: italic;
    color: var(--color-body);
    font-size: 4.25em;
    line-height: 1.1;
    margin-top: .3em;
    font-family: var(--font-serif);
    position: relative;
    /* text-shadow: 1px 1px var(--color-paper), -1px 1px var(--color-paper), -1px -1px var(--color-paper), 1px -1px var(--color-paper), 2px 2px var(--color-paper), -2px 2px var(--color-paper), -2px -2px var(--color-paper), 2px -2px var(--color-paper), 3px 3px var(--color-paper), -3px 3px var(--color-paper), -3px -3px var(--color-paper), 3px -3px var(--color-paper), 4px 4px var(--color-paper), -4px 4px var(--color-paper), -4px -4px var(--color-paper), 4px -4px var(--color-paper); */
    /* filter: drop-shadow(-2px 0px 0px var(--color-paper)) drop-shadow(0px 2px 0px var(--color-paper)) drop-shadow(-2px -2px 0px var(--color-paper)) drop-shadow(2px 2px 0px var(--color-paper)) ; */
    border: 0px solid transparent;

    &::after {
      content: " ";
      width: 100%;
      height: 1em;
      display: block;
      position: absolute;
      /* border-bottom: 2px dotted var(--color-primary); */
      opacity: 0.3;
      bottom: 0;
    }
  }

  .meta {
    /* grid-column: left; */
    font-size: 1em;
    font-family: var(--font-sans);
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0;
    /* border-bottom: 1px solid grey; */
    a {
      font-style: normal;
      margin-left: 2ch;
      font-weight: 400;
      background: transparent;
    }
  }

  p,
  ul,
  ol,
  h2,
  h4,
  h5,
  h6 {
    margin-left: 0;
  }

  h2 {
    font-size: 1.5em;
  }
}

.downloads table {
  grid-column: main/main;
}