:root {
  --tint: 300;
  --light: 0%;
  --saturation: 100%;
  /* --color-background: hsl(0, 0%, 90%); */
  --color-background: hsl(0, 0%, 100%);
  --color-lightest-grey: rgb(245, 245, 245);
  --color-lightest-grey: hsl(var(--tint), 0%, 88%);
  /* --color-primary: hsl(var(--tint),  var(--saturation), var(--light)); */
  --symbol-content: "❧";

 
  --shadow-paper: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
  --shadow-main: var(--shadow-paper);
  --shadow-paper: none;

  --shadow-main: none;

  --color-body: hsl(var(--tint), 0%, 23%);
  --color-link: var(--color-accent);
  --color-paper: var(--color-background);
  --color-accent: var(--color-primary);
  --color-primary: var(--color-body);
  --color-grey: #ddd;
  /* --font-serif: "Minipax Variable", serif; */
  /* --font-serif: "Fanwood Text", serif; */
  --font-serif: "Linden Hill", serif;

  /* --font-serif: "Inria Serif",  serif; */
  --font-sans: "Jost", sans-serif;
  /* --font-sans: "Work Sans", sans-serif; */
  --font-mono: "Victor Mono"; 
  --font-size: 20px;
  --color-cropmark: black;

  --color-highlight: yellow;
}





