.homepage {
  /* height: auto/; */
  /* min-height: 95vh; */
}

.homepage main {
  margin: auto;

  
}



.homepage article .contents {
  grid-template-columns: [left] 50% [start];
  grid-column: left/end;
    /* display: grid; */
    margin-top: 4em;
    grid-gap: 8ch;
}




.print-machine {
grid-column: left;
width: 100%;
max-width: 500px;
margin: 0 auto;
/* margin-top: 3em; */
img {
  object-fit: contain;
}
}

.right {
  grid-column: start;
  align-self: center;
}