.posts {
  /* --tint: calc(360/40);
  --light: 20%;
  --saturation: 50%;
  --color-primary: hsl(var(--tint), var(--light), var(--saturation));
  --color-accent: var(--color-primary); */

  article {
    min-height: 860px
  }

  .article h2 {
    border-color: transparent;
  }
}

