



/* breadcrumb */
#breadcrumbs {
  font-family: var(--font-sans);

  .delimiter {
    color: inherit;
    font-weight: 400;
  }
  padding-bottom: .7em;
  color: grey;

  a {
    color: inherit;
    background: white;

    &::after {
      content: none;
    }

    &:last-child {
      color: black;
    }

    &:hover {
      color: var(--color-accent);
    }
  }
}

article .note {
  /* width: 30%; */
  /* float: right; */

  padding-left: 1em;
  font-size: 0.8em;
  margin-left: 2em;
  border-left: 2px solid var(--color-primary);
  font-family: var(--font-sans);
  grid-column: note;

  :first-child {
    padding-top: 0;
  }
}

article {
  display: grid;
  grid-template-columns: [left] 20% [main] 60% 20%[end];

  .top {
    grid-column: left/end;
  }

  #breadcrumbs {
    grid-column: left/end;
  }

  header {
    grid-column: left/end;

  }

  figure {
    grid-column: left/end;
  }

  p,
  ul,
  ol,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote {
    grid-column: main/main;
  }

  pre,
  table,
  .highlight,
  .talkyard-comments {
    grid-column: left/end;
  }

  .signature {
    max-width: 50ch;
    grid-column: main/end;
    font-family: var(--font-sans);
    margin-top: 2em;
    font-size: 0.8em;
    /* max-width: 60%; */
    /* margin: 5em 0 auto auto; */
    line-height: 1.6em;
    color: var(--color-primary);

    .name {
      border-bottom: 2px dotted var(--color-primary);
      margin-left: -3em;
      padding-left: 3em;
      width: max-content;
    }
  }

  .signature img {
    border: 2px solid var(--color-primary);
    float: left;
    display: block;
    width: 73px;
    margin-left: -90px;
    height: auto;
    margin-right: 1em;
    border-radius: 50%;
    /* box-shadow: 0 0 0 5px var(--color-primary); */
  }

 
}

.tags {
  margin-top: 1em;
  font-size: 0.8em;
}

a.tag {
  font-family: var(--font-sans);
  margin-right: 2ch;
  text-decoration: underline;
  font-style: normal;
  font-weight: 400;
  margin-top: 1em;
}

.talkyard-comments {
  margin-top: 100px !important;
}
