article {
  header {
    margin-bottom: 6em;
    font-weight: 700;

    #title {
      margin-top: 0.3em;
      margin-bottom: 0;
      font-weight: 900;
    }

    .intro {
      font-family: var(--font-sans);
      font-size: 1.3em;
      max-width: 40ch;
    }
    p, ul, ol, h2, h4, h5,h6  {
        margin-left: 0;
    }
    h2 {
        font-size: 1.5em;
    }

  }

}



/* breadcrumb */
#breadcrumbs {
  font-family: var(--font-sans);

  .delimiter {
    color: inherit;
    font-weight: 400;
  }
  padding-bottom: .7em;
  color: grey;

  a {
    color: inherit;
    background: white;

    &::after {
      content: none;
    }

    &:last-child {
      color: black;
    }

    &:hover {
      color: var(--color-accent);
    }
  }
}

article .note {
  /* width: 30%; */
  /* float: right; */

  padding-left: 1em;
  font-size: 0.8em;
  margin-left: 2em;
  border-left: 2px solid var(--color-primary);
  font-family: var(--font-sans);
  grid-column: note;

  :first-child {
    padding-top: 0;
  }
}



article {
    display: grid;
    grid-template-columns: [left] 20% [main] 80% [end];
    #breadcrumbs {
        grid-column: left/end;
    }
    header {
        grid-column: left/end;
    }
    figure {
        grid-column: left/end;
    }
    p, ul, ol , h1, h2, h3, h4, h5, h6 , blockquote {
        grid-column: main/end;
    }
    pre,  table, .highlight {
        grid-column: left/end
    }
     .signature {
         grid-column: main/end;
         font-family: var(--font-sans);
         margin-top: 2em;
         font-size: 0.8em;
         max-width: 60%;
         /* margin: 5em 0 auto auto; */
         line-height: 1.6em;
         .name {
             border-bottom: 1px solid var(--color-primary);
         }
     }

     .signature img {
         float: left;
         display: block;
         width: 73px;
         margin-left: -90px;
                  height: auto;
         margin-right: 1em;
        border-radius: 50%;
        /* box-shadow: 0 0 0 5px var(--color-primary); */
     }


     .meta {
         font-family: var(--font-sans);
         border-bottom: 1px solid grey;
         a {
             font-style: normal;
             margin-left: 2ch;
             font-weight: 400;
             background: transparent;
         }
     }
     .date {
         grid-column: left;
         font-family: var(--font-sans);
         font-size: 0.8em;
         padding-top: 2px;
     }

     
}