[submodule "themes/matomo"]
	path = themes/matomo
	url = https://github.com/holehan/hugo-components-matomo.git
[submodule "themes/pagedjs"]
	path = themes/pagedjs
	url = https://gitlab.pagedmedia.org/julientaq/pagedjs-hugo.git
[submodule "themes/hugo-search-fuse-js"]
	path = themes/hugo-search-fuse-js
	url = https://github.com/kaushalmodi/hugo-search-fuse-js
