@import url('https://fonts.googleapis.com/css?family=Inria+Serif&display=swap');
@font-face {
  font-family: "Minipax Variable";
  src: url("../fonts/MinipaxVariable.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
