footer {
  /* --tint: calc(360 - 220); 
  --light: 20%;
  --saturation: 50%; */
  /* --color-primary: hsl(var(--tint), var(--light), var(--saturation)); */

  /* --color-light: hsl(var(--tint), 80%, 80%); */

  --color-accent: var(--color-primary);
  /* padding: 2em 3em 4em; */



  --color-accent: var(--color-primary);
  margin: 7em 0 0;
  background: var(--color-light);
  color: var(--color-primary);
  font-size: .8em;
  grid-column: left/end;
  font-family: var(--font-sans);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--color-lightest-grey);

  p {
    line-height: 1.4;
    max-width: unset;
  }

  a {
    color: var(--color-primary);
    background: transparent;
    margin-top: 2em;
  }

  svg {
    /* max-width: 300px; */
    max-height: 100px;
    display: block;

    path {
      fill: var(--color-primary);
    }

    &:hover {
      /* background: rgba(200, 120, 84, 0.2); */
      path {
        fill: var(--color-accent);
      }
    }
  }

  .postit {
    /* padding-bottom: 3em; */
    border-left-width: 0;
    max-height: unset;
    position: relative;
  }
}