body {
    background: var(--color-lightest-grey);
    margin: 0;
    padding: 0;
}

.layout {
    /* width: 100% ;
    grid-template-columns: minmax(400px, 30%) 1fr;
    column-gap: 3em;
    background: var(--color-background); */
    }

.layout > header {
    position: fixed;
    width: 30%;
    top: 3em;
    left: 3em;
    background: var(--color-background);
    align-items: center;
    display: grid;
    grid-template-columns: 2px repeat(4, 1fr);
    grid-template-rows: 2px repeat(3, 1fr);
    grid-gap: 20px;
    grid-template-areas:
      ". . . . ."
      ". a a . ."
      ". . b b b"
      ". . b b b";
    max-height: calc(100vh - 6em);
    align-items: end;
    background: var(--color-background);
    z-index: 5;
  }

  main {
      margin-left: 35%;
      min-height: 150vh;
      margin:  0em 3em 3em 35%;
      padding: 2em 3em;
    }

    article {
        background: white;
        padding: 2em 3em;

    }

    /* for the navigation between pages of the navigation */

    .nav {
        display: flex;
        justify-content: space-between;
        font-size: 0.9em;

        span {
            display: block;
            text-align: right;
            font-size: 0.9em;   
        }
    }

