.running-head {
  grid-column: left/end;
  border-bottom: 1px solid var(--color-primary);
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: -4em;
  background: white;
  z-index: 9999999;
  align-items: flex-end;
  .baseline {
    line-height: 1;
    position: relative;
    font-family: var(--font-sans);
    font-size: .8em;
    font-variant: all-small-caps;
    top: 5px;
    margin-left: 1ch;
  }

  a.back-home {
    width: 14ch;
    background: 0 0;
    padding: 0;
    position: relative;
    top: 0;
    margin-left: 0;
    min-width: 10ch;
  }

  #paged-logo {
    background: transparent;
    /* width: 15ch;
    background: var(--color-primary);
    fill: white;
    padding: 4em 2ch 0.5em;
    margin-top: -5.5em;
    position: relative;
    top: 1em; */
    path {
      /* fill: white; */
    }
  }
}

.menu {
  grid-column: left/end;
  margin: 0;
  font-family: var(--font-sans);
  text-transform: uppercase;
  font-variant: all-small-caps;
  font-size: 1em;

  ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    flex-wrap: wrap;

    li {
      margin: 0;
      margin-left: 3ch;
      line-height: 1.6;

      &.active {
        box-shadow: 0 5px 0 0 var(--color-primary);
        /* font-weight: bold; */
      }

      a {
        font-style: normal;
        text-decoration: none;
        background: white;
      }
    }

    li::before {
      content: none;
      margin: 0;
    }
  }
}

