@media screen and (max-width: 1250px) {
  body {
    /* grid-template-columns: [sidebar] 10vw [main] 70vw [end] 5vw; */
  }
}

@media screen and (max-width: 1250px) {
  body {
    /* grid-template-columns: [sidebar] 10vw [main] 70vw [end] 5vw; */
  }

  .back-home {
    position: fixed;
    top: 0;
  }
}

@media screen and (max-width: 570px) {
  body {
    /* grid-template-columns: [sidebar] 0 [main] 100% [right] 0 [end]; */
    width: 100%;
    padding: 0;

    .article {
      grid-template-columns: [left] 2% [main] 96% 2%[end];
    }

    .crop-marks {
      display: none;
    }
  }
}


/* 
@media screen and (max-width: 767px) {
  article header  {
    font-size: 0.7em;
  }
  article {
    grid-template-columns: [left] 5% [main] 90% 5%[end];
  }
  body footer {
    max-width: unset ;
  }
} */