/* paged.js interface  */
#print {
  width: 60px;
  position: fixed;
  z-index: 20000;
  background: var(--color-body);
  fill: white;
  padding: 1em;
  right: 0;
  top: 0;
}

/* Change the look */
:root {
  /* --color-print-background: whitesmoke; */
  --color-pageBox: #666;
  /* --color-paper: --color-paper; */
  --color-marginBox: transparent;
}


/* To define how the book look on the screen: */
@media screen {
  .pagedjs_pages {
    display: flex;
    /* width: var(--pagedjs-width); */
    flex-direction: column;
    flex: 0;
    align-items: center;
    margin: 0 auto;
  }

  .pagedjs_page {
    background-color: var(--color-paper);
    box-shadow: 0 0 0 1px var(--color-pageBox);
    margin: 0;
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: 10mm;
  }

  .pagedjs_first_page {
    /* margin-left: var(--pagedjs-width); */
  }

  .pagedjs_page:last-of-type {
    margin-bottom: 10mm;
  }


  /* show the margin-box */

  .pagedjs_margin-top-left-corner-holder,
  .pagedjs_margin-top,
  .pagedjs_margin-top-left,
  .pagedjs_margin-top-center,
  .pagedjs_margin-top-right,
  .pagedjs_margin-top-right-corner-holder,
  .pagedjs_margin-bottom-left-corner-holder,
  .pagedjs_margin-bottom,
  .pagedjs_margin-bottom-left,
  .pagedjs_margin-bottom-center,
  .pagedjs_margin-bottom-right,
  .pagedjs_margin-bottom-right-corner-holder,
  .pagedjs_margin-right,
  .pagedjs_margin-right-top,
  .pagedjs_margin-right-middle,
  .pagedjs_margin-right-bottom,
  .pagedjs_margin-left,
  .pagedjs_margin-left-top,
  .pagedjs_margin-left-middle,
  .pagedjs_margin-left-bottom {
    box-shadow: 0 0 0 1px inset var(--color-marginBox);
  }
}





/* paged.js style */


@page  {
  size: A5;



  @bottom-center  {
    content: element(footer);
  }


}




@page :right {
  margin-top: 15mm;
  margin-left: 20mm;
  margin-right: 15mm;
  margin-bottom: 25mm;
  @top-right  {
    content: counter(page);
    font-family: var(--font-sans);
    font-size: 0.7em;
    width: 5ch;
    background: var(--color-lightest-grey);
  }
  @top-left {
    content: string(title);
    font-family: var(--font-sans);
    font-size: 0.7em;

  }
}
@page :left {
  margin-top: 15mm;
  margin-left: 15mm;
  margin-right: 20mm;
  margin-bottom: 25mm;
  @top-left  {
    content: counter(page);
    font-family: var(--font-sans);
    font-size: 0.7em;
    width: 5ch;
    background: var(--color-lightest-grey);
  }
  @top-right {
    content: string(title);
    font-family: var(--font-sans);
    font-size: 0.7em;

  }
}
@page :first {
  background: var(--color-lightest-grey);

  @bottom-left  {
    content: element(logo);
  }
  @top-left {
    content: none;
  }

  @top-right  {
    content: none;
  }
}


@media print {
  body {
    display: block;
    margin: 0;
    padding: 0;
  }


  footer {
    position: running(footer);
    font-size: .65em;
    margin: 0;
    }
    .paginator {
      display: none;
    }
  #print {
    display: none;
  }

  #title {
    string-set: title content(text);
    font-size: 3em !important;
  }

  body {
    --color-body: black;
    widows: 3;
    orphans: 3;
  }

  .intro {
    page-break-after: always;
    break-after: page;

  }

  #print {
    display: none;
  }

  #tableOfContents {
    font-size: 10pt;
  }

  .list .content {
    grid-column: left/end;
    font-size: 0.8em;

    li {
      break-inside: avoid;
    }
  }

  main {
    /* display: block; */
    width: unset;
    height: unset;
    margin: 0;
    padding: 0;
  }

  article {
    padding: 0;
    margin: 0;
    display: block;
    font-size: 14px;
    h2, h3 {
      padding-top: 0;
      margin-top: 2em;
    }
  
  }

  .menu.hide, .menu {
    display: none;
  }

  .running-head {
    border: 0px solid transparent;
  }

  .crop-marks {
    display: none;
  }

  header {

    .intro {
      margin-bottom: 0;
    }
  }


  .running-head {
    position: running(logo);
    background: unset;
    box-shadow: none;
    display: block;

    menu {
      display: none;
    }

    .back-home svg {
      width: 14ch;

      path {
        fill: black;
      }
    }
  }
}