body {
  font-family: var(--font-serif);
  font-size: var(--font-size);
  line-height: 1.6;
  font-variation-settings: "wght" 200;
  color: var(--color-body);
  letter-spacing: 0.2px;
  font-variant-ligatures: common-ligatures;
}



/* article */
article {
  font-size: 18px;

  .meta {
    margin: 0;
    width: 100%;
    max-width: 100%;
    margin-top: 2em;
    margin-bottom: 0;
    font-family: var(--font-sans-serif);
  }

  .date {
    font-weight: 500;
  }

  h1#title {
    text-align: left;
    max-width: 100%;
    font-size: 4em;
    line-height: 1.1;
    text-transform: none;
    margin-bottom: 0;
  }

  .intro {
    font-size: 1.2em;
  }

  #intro {
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 1em;
  }

  /* common text */

  p,
  li {
    margin-bottom: 2em;
    max-width: 60ch;
  }

  a {
    text-decoration: none;
    border: 0;
    line-height: 1;
    color: var(--color-body);
    border-bottom: 2px;
    font-family: var(--font-sans);
    font-style: normal;

    &:hover {
      --light: 50%;
      --saturation: 50%;
    }
    background: linear-gradient(20deg, transparent 0, transparent 10%, var(--highlight) 10%, var(--highlight) 90%, transparent 90%);
  }

  /* list */

  ol {
    padding: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;

    & li::before {
      content: "»";
      display: block;
      position: absolute;
      margin-left: -3ch;
    }
  }



  /*headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-weight: 300;
    /* font-variation-settings: "wght" 200; */
    font-family: var(--font-sans);
    line-height: 1.2;
    margin-top: 2em;
    margin-bottom: 0.5em;

    &:first-child {
      margin-top: 1em;
    }
  }

  h1 {
    font-size: 2.7em;
    margin-top: 3em;
    margin-bottom: 2em;
  }

  h2 {
    font-size: 2.3em;
  }

  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.8em;
  }

  h5 {
    font-size: 1.5em;
  }

  h6 {
    font-size: 1.3em;
  }
}

/* picture */
img {
  max-width: 100%;
}


pre {
  /* white-space: pre-wrap;
  font-size: 0.8em;
  max-width: 100%;
  font-family: monospace;
  font-style: normal; */
  font-size: .85em;
  /* border-top: 1px solid lightgrey; */
  padding: 0.2em 0.5em; 
  /* font-size: 2em; */
background: hsl(0, 2%, 90%);
/* overflow-x: scroll; */
overflow: auto;
}

:not(pre) code {
  font-size: 1.1em;
  /* background: hsl(0, 2%, 90%); */

  /* background: hsl(0, 2%, 90%);
  padding: 0.1em 0.2em;
  line-height: 0;
  background: black;
  color: green;
  border: 0;
  box-shadow: unset; */
}


/* table */
table {
  border: 10px solid (--color-primary);
  border-collapse: collapse;
  font-family: var(--font-sans-serif);

  tr {
    td,
    th {
      padding: 0.3em 1em 0.5em;
      border: 1px solid var(--color-primary);
    }
  }
}


/* definition terms */
.dt {
  display: inline;
  border-bottom: 1px solid grey;
  cursor: help;
  position: relative;

  &:hover .dd {
    display: block;
  }
}

.dd {
  position: absolute;
  background: var(--color-primary);
  color: white;
  font-family: var(--font-sans-serif);
  top: 2em;
  left: 0px;
  width: 15em;
  padding: 0.5em 1em;
  display: none;
}
