<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
      {{ end }}</title>
    {{ $css := resources.Get "./css/main.css" | resources.PostCSS (dict "config" "./assets/css/postcss.config.js" "noMap" true) | minify  | resources.Fingerprint "md5" }}
    <link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}">
    <link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" />
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/caladea" type="text/css" />
    {{ block "headScripts" . }}
    {{ end }}
  </head>

  <body {{ if .Params.class }} class="{{ .Params.class }}" {{ end }}>
    {{ block "sidebar" .}}
    <div class="sidebar">
      <button class="menuToggle">
        <a href="{{ .Site.BaseURL }}">{{ partial "paged-monogram.html" . }} </a>
      </button>
      {{ partial "menu.html" . }}
    </div>
    {{ end }}
    {{ block "main" . }}
    <main   style="{{ if .Params.colorPaper }} --color-paper:{{ .Params.colorPaper }} {{ end }}">
      {{ partial "cropmarks.html" }}
      <article>
        {{ if .Params.intro }}
        <header>
          <h1 id="title">{{ .Title }}</h1>
          {{ if .Params.intro }}<p class="intro">{{ .Params.intro }}</p>{{end}}
        </header>
        {{ end }}
        {{ .Content }}
        <aside>
          {{ with .PrevInSection }}
          <a class="previous" href="{{.Permalink}}">{{.Title}}</a>
          {{ end }}
          {{ with .NextInSection }}
          <a class="next" href="{{.Permalink}}">{{.Title}}</a>
          {{ end }}
        </aside>
      </article>
    </main>
    {{ end }}
    {{ block "footer" . }}
    {{ partial "footer.html" . }}
    {{ end }}
  </body>

</html>