<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
      {{ end }}</title>
    {{ $css := resources.Get "./css/main.css" | resources.PostCSS (dict "config" "./assets/css/postcss.config.js" "noMap" true) | minify  | resources.Fingerprint "md5" }}
    <link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}">
    {{ block "headScripts" . }}
    {{ end }}
  </head>

  <body {{ if .Params.class }} class="{{ .Params.class }}" {{ end }}>
    {{ block "sidebar" .}}
    <button id="toggleMenu" class="menuToggle">
      {{ partial "paged-monogram.html" . }}
    </button>
  
      {{ partial "menu.html" . }}
    {{ end }}
    {{ block "main" . }}
    <main style="{{ if .Params.colorPaper }} --color-paper:{{ .Params.colorPaper }} {{ end }}">
      {{ partial "cropmarks.html" }}
      <article>
        {{ partial "breadcrumb.html" .}}
        {{ if .Params.intro }}
        <header>
          <h1 id="title">{{ .Title }}</h1>
          {{ if .Params.intro  }}<p class="intro">{{ .Params.intro | markdownify }}</p>{{end}}
        </header>
        {{ end }}
        {{ .Content }}
        <aside>
          {{ with .PrevInSection }}
          <a class="previous" href="{{.Permalink}}">{{.Title}}</a>
          {{ end }}
          {{ with .NextInSection }}
          <a class="next" href="{{.Permalink}}">{{.Title}}</a>
          {{ end }}
        </aside>
      </article>
    </main>
    {{ end }}
    {{ block "footer" . }}
    {{ partial "footer.html" . }}
    {{ end }}
    {{ block "script" . }}
    {{ $js := resources.Get "/js/scripts.js" }} 
      <script src="{{$js.Permalink}}"></script>
            <!-- {{ $smooth := resources.Get "/js/smoothscroll.js" }} 
            <script src="{{$smooth.Permalink}}"></script>
            <script>smoothscroll.polyfill();</script> -->

      {{ end }}
  </body>

</html>