{{ define "main" }}
        <div class="list content">
        <ul>
            {{ range .Pages }}
            <li class="article">
                <h2><a href="{{ .Permalink }}"><span>{{ .Title }}</span></a></h2>
                {{ if eq .Page.Section "documentation"}}
                {{ .TableOfContents }}
                {{else}}
                <div class="meta">
                {{ if .Params.author }}Written by <span class="author"> {{ .Params.author }} </span> {{ end }}
                {{ if .Params.date }}, the <span class="date"> {{ .Params.date }} </span> {{ end }}
            </div>
                {{ if .Params.intro }}<span class="intro"> {{ .Params.intro }} </span> {{ end }}
                {{end}}
                </a>
            </li>
            {{ end }}
        </ul>

    </div>



{{ end }}


