{{ define "main" }}
        <div class="list content">
        <ul>
            {{ range .Pages }}
            <li class="article">
                <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                {{ if eq .Page.Section "documentation"}}
                {{ .TableOfContents }}
                {{else}}
                {{ if .Params.intro }}<span class="intro"> {{ .Params.intro }} </span> {{ end }}
                {{end}}
                </a>
            </li>
            {{ end }}
        </ul>

    </div>



{{ end }}


{{ define "script" }}
{{ $js := resources.Get "/js/docList.js" }}
<script src="{{$js.Permalink}}"></script>
{{ end }}