{{ define "htmlhead"  }}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{{ end }}

{{ define "header"  }}
    <!-- --> 
{{ end }}


{{ define "running" }}
      <div class="running-head">
          <!-- <button class="back-home">
              {{ partial "paged-logo" .}}
          </button> -->
      <button class="menu-call">MENU</button>

        {{ partial "menu" . }}
    </div>
{{ end }}

{{ define "main" }}
    <article>

        <div class="contents">
            {{ if .Params.cover }} <img class="print-machine" src="{{.Params.cover}}" /> {{end}}
                {{ .Content }} 

        </div>
    </article>
{{ end }}


{{ define "footer"  }}
<!-- -->


{{ end }}

{{ define "comments"}}
<!--  -->
{{ end }}